.div-introduction-title h1{
    max-width: 75vw;
    font-size: 50px;
}

.div-introduction-title h2{
    font-size: 25px;
}

.div-introduction-title h3{
    text-align: justify;
    margin-left: 25px;
    margin-top: 15px;
    color: black;
    max-width: 75vw;
    font-size: 19px;
}

.div-alt {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.alt-login-container {
    display: inline-block;
    align-items: center;
    margin-right: 10px;
    border: steelblue 2px solid;
    box-shadow: black;
}

.alt-login-container button, .alt-login-container a{
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 12px;
    text-decoration: none;
    background-color: white;
    color: steelblue;
}

.alt-login-container:hover button, .alt-login-container:hover a{
    background-color: steelblue;
    color: white;
}

.alt-login-container h3{
    margin-left: 8px;
    font-size: 22px;
}

.no-icon h3 {
    margin-left: 0px;
}

.alt-login-container .no-margin-lef-h3 {
    margin-left: 0px;
    font-size: 22px;
}

.git {
    border: black 2px solid;
}

.git button, .git a{
    color: black;
}

.git:hover button, .git:hover a{
    background-color: black;
    color: white;
}

.enter {
    border: steelblue 2px solid;
}

.enter button, .enter a{
    color: steelblue;
}

.enter:hover button, .enter:hover a{
    background-color: steelblue;
    color: white;
}


.box-alert {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: flex;
    flex-direction: row;
    color: white;
}

.box-alert h3{
    background-color: steelblue;
    padding: 22px 20px;
    max-width: 600px;
}

.box-alert button{
    border: none;
    padding: 21px 20px 19px 20px;
    font-size: 20px;
    background-color: rgb(96, 158, 209);
    color: white;
    text-align: center;
    justify-content: center;
    transition: background-color .8s;
}

.box-alert button:hover{
    background-color: rgb(64, 141, 204);
    transition: background-color .8s;
}

.color-theme-text {
    color: steelblue;
}