.directory-div {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0px;
}

.directory-div button{
    border: none;
    display: flex;
    justify-content: space-between;
    color: steelblue;
    background-color: whitesmoke;
    font-size: 22px;
    margin-bottom: 10px;
    padding: 20px 20px;
    transition: color .5s, background-color .5s, box-shadow .5s;
}

.directory-div button:hover{
    background-color: steelblue;
    color: white;
    transition: color .5s, background-color .5s, box-shadow .5s;
}

.directory-div button div{
    display: flex;
    flex-direction: row;
}


.directory-div button div svg{
    margin-right: 20px;
}

.directory-div button div + svg{
    justify-items: flex-end;
    margin-left: 20px;
}

.directory-div div.alt{
    border: none;
    display: flex;
    color: steelblue;
    background-color: whitesmoke;
    font-size: 22px;
    margin-bottom: 10px;
    padding: 20px 20px;
    transition: color .5s, background-color .5s, box-shadow .5s;
}

.directory-div div.alt:hover{
    background-color: steelblue;
    color: white;
    transition: color .5s, background-color .5s, box-shadow .5s;
}

.directory-div h1 {
    margin-bottom: 15px;
}

.code pre {
   padding: 3px;
   background-color: steelblue;
}